.section
  .container
    %br

    = form_for [:member, @membership], method: :put do |f|
      .row
        .col-md-6
          .contrl-group
            = f.label :bible_version, "Preferred Bible Version", class: "control-label"
            .controls
              = f.select :bible_version,  select_options_for_bible,  { include_blank: false },  { class: 'chosen-select' }
              %br
              %br
            = f.submit 'Update my Challenge Settings', class: 'btn btn-primary btn-sm', disable_with: 'Please Wait...'
    %p
    %br
