.container
  .row
    .col-md-6
      - if !user_signed_in?
        = render 'devise/sessions/signin'
    .col-md-6
      %h1 Bible Challenges
      %br
      %p.lead Create a Bible Reading Challenge for a church, small group, or student organization.
      %br
      %a.btn.btn-lg.btn-success{href: new_creator_challenge_path} Create a Challenge

  -# unless @public_challenges.empty?
    %p Or take a look at some of the current challenges:

    %ul
      - @public_challenges.each do |challenge|
        %li= link_to challenge.name, "http://" + subdomain_url(challenge.subdomain)
