= form_for @membership do |f|
  %legend Challenge Account Details
  - if @membership.errors.any?
    - flash[:error] = @membership.errors.full_messages.to_sentence

  .control-group
    = f.submit "Activate my challenge account"

