%h3
  =@membership.challenge.name 
  Bible Challenge!

%p
  The 
  =@membership.challenge.name 
  Bible Challenge starts on
  ="#{@membership.challenge.begindate}."
%p
  You'll receive the daily chapters by email starting on that day.

  

%table.table.table-striped.table-condensed
  %tr
    %td Begin Date:
    %td=@membership.challenge.begindate
  %tr
    %td End Date:
    %td=@membership.challenge.enddate
  %tr
    %td Chapters to Read:
    %td=@membership.challenge.chapterstoread


%p
  Below is the reading schedule for this challenge:
