%table.table.table-striped.table-condensed
  %tr
    %td Challenge:
    %td= link_to @reading.challenge.name, @reading.challenge
  %tr
    %td Already read by
    %td= "Avatars here"
  %tr
    %td Number of Comments:
    %td 
