%table.table.table-striped.table-condensed
  %tr
    %td Challenge:
    %td= link_to @reading.challenge.name, @reading.challenge
  %tr
    %td Already read by
    %td= already_read_by_avatars(@reading)
  %tr
    %td Number of Comments:
    %td
