= link_to "Show / hide chapter text"
#chapter_text{style: "display: none;"}
  %h4
    =@reading.chapter.book_name
    =@reading.chapter.chapter_number
  - @verses.each do |v|
    %b=v.verse_number
    =v.versetext
    %br
  %br
