- breadcrumb :reading, @reading
.container
  %br
  = breadcrumbs

  %br
  %br

  %legend
    = "#{@reading.chapter.book_and_chapter}:"

  #verses
    - @verses.each do |verse|
      = verse.decorate.to_div
