var html = ""
html += "<div class='alert alert-success fade in'>"
html += "  <button class='close' data-dismiss='alert'>×</button>"
html += "  You have successfully confirmed this reading of <%=@reading.chapter.book_name%> <%=@reading.chapter.chapter_number%>"
html += "</div>"

$('.flash-messages').prepend(
	$(html).hide().fadeIn('fast')
);

$('#confirmation_container').html("<%= escape_javascript(render '/memberships/reading_progress')%>");