
$('.header').after(
  "<div class='alert alert-success fade in'>"+
  "  <button class='close' data-dismiss='alert'>×</button>"+
  "  You have successfully confirmed this read."+
  "</div>"
)
$('#confirmation_container').html("");