.jumbotron
  %h3 FAQ
  %dl
    %dt What is a Bible Challenge?
    %dd 
      A Bible Challenge is daily Bible reading program that allows you to read 
      and discuss chapters in the Bible with others.
      Each day a chapter of the Bible is 
      sent to your email address.  After reading
      the chapter you can click a link to confirm that you have 
      read the chapter and then participate in a discussion
      with others in the group.

    %dt Can I leave a Bible Challenge if I don't like it?
    %dd 
      Yes. Just click on the unsubscribe link in any of the 
      emails that you received from biblechallenges.com.  Clicking
      the unsubscribe link will remove you from the Bible Challenge and 
      you will no longer receive any emails.

    %dt How do I add a picture to my profile?
    %dd 
      To change your profile picture, click “Edit Profile”
      and then “Edit your Gravatar.” This will take you 
      to a page where you can create an avatar that 
      biblechallenges.com will use as your profile picture.

    %dt How do I change my Bible version preference?
    %dd 
      Navigate to the main challenge page by clicking “My
      Challenges” and then the name of your challenge. You 
      will see your current Bible version under the heading 
      “Challenge Details.” Click the word “change” to choose 
      a new Bible version.

    %dt I missed today's reading email.  How can I catch up?
    %dd 
      The main challenge page for your Bible reading
      challenge lists all of the Bible chapters in your 
      challenge. Simply click on the box next to any Bible 
      chapter to indicate that you have finished reading 
      this chapter. If you get behind, you can read several 
      chapters in a day and then check off all of these 
      chapters at one time.

    %dt How can I change the time that my chapter is emailed to me?
    %dd 
      Click “Edit Profile” and then select your preferred
      reading hour in the drop down menu labeled “Your 
      Preferred Reading Hour.” Once you have selected your 
      new reading hour, click “Update Profile.”






