.jumbotron
  %h3 FAQ
  %dl
    %dt What is a Bible Challenge?
    %dd 
      A Bible Challenge is daily Bible reading program that allows you to read 
      and discuss chapters in the Bible with others.
      Each day a chapter of the Bible is 
      sent to your email address.  After reading
      the chapter you can click a link to confirm that you have 
      read the chapter and then participate in a discussion
      with others in the group.

    %dt Can I leave a Bible Challenge if I don't like it?
    %dd Yes.

    %dt How do I add a picture to my profile?
    %dd Answer to question

    %dt How do I change my Bible version preference?
    %dd Answer to question

    %dt I missed today's reading email.  How can I catch up?
    %dd Answer to question

    %dt How can I change the time that my chapter is emailed to me?
    %dd Answer to question

    %dt How can I link my reading on biblechallenges.com to lettheword.com?
    %dd Answer to question

    %dt How can I create my own Bible challenge for my friends to join?
    %dd Answer to question

    %dt Who is BibleChallenges.com for?
    %dd Answer to question





