.section.container
  %h3 FAQ
  .list-group-item
    %h4.list-group-item-heading What is a Bible Challenge?
    %p.list-group-item-text
      A Bible Challenge is daily Bible reading schedule that allows you to read
      chapters in the Bible with others.
      Each day a chapter of the Bible is
      sent to your email address.  After reading
      the chapter you can click a link to confirm that you have
      read the chapter and optionally participate in a discussion
      with others in your group.

  .list-group-item
    %h4.list-group-item-heading Can I leave a Bible Challenge if I don't like it?
    %p.list-group-item-text
      Yes. Just click on the unsubscribe link in any of the
      emails that you received from biblechallenges.com.  Clicking
      the unsubscribe link will remove you from the Bible Challenge and
      you will no longer receive any emails.

  .list-group-item
    %h4.list-group-item-heading How do I change my Bible version preference?
    %p.list-group-item-text
      Navigate to the main challenge page by clicking “My
      Challenges” and then the name of your challenge. 
      Under the "Readings" tab you will see jkYou
      will see your current Bible version under the heading
      “Challenge Details.” Click the word “change” to choose
      a new Bible version.

  .list-group-item
    %h4.list-group-item-heading I missed today's reading email.  How can I catch up?
    %p.list-group-item-text
      The challenge page for your specific Bible reading
      challenge lists all of the Bible chapters in your
      challenge. Simply click on the box next to any Bible
      chapter to indicate that you have finished reading
      this chapter. If you get behind, you can read several
      chapters in a day and then check off all of these
      chapters at one time.

  .list-group-item
    %h4.list-group-item-heading How can I change the time that my chapter is emailed to me?
    %p.list-group-item-text
      Click “Edit Profile” and then select your preferred
      reading hour in the drop down menu labeled “Your
      Preferred Reading Hour.” Once you have selected your
      new reading hour, click “Update Profile.”
