.jumbotron
  %h1 FAQ
  %dl
    %dt What is a Bible Challenge and why do I need it?
    %dd Answer to question

    %dt What is the difference between creating a Bible Challenge and joining a Bible Challenge?
    %dd Answer to question

    %dt Can I leave the Bible Challenge if I don't like it?
    %dd Answer to question

    %dt Will my email address be given away?
    %dd Answer to question
