.container
  .jumbotron
    %h1 Bible Challenges
    %p.lead BibleChallenges.com enables you to create a Bible reading challenge for a church, small group, or student organization.  Click below to get started.
    %p
      %a.btn.btn-lg.btn-success{:href => new_creator_challenge_path} Create Your Challenge
