.container
  .header
    %ul.nav.nav-pills.pull-right
      %li.active
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Contact
    %h3.text-muted Bible Challenges
  .jumbotron
    %h1 Bible Challenges
    %p.lead Create online Bible reading challenges for your campus club, friends, and church community
    %p
      %a.btn.btn-lg.btn-success{:href => "#"} Learn more
  .row.marketing
    .col-lg-6
      %h4 Choose your dates
      %p A challenge can last a week, a month, or a year; you decide.
      %h4 Choose your chapters
      %p Assign one or more chapters to each day of your challenge. The gospel of John has 21 chapters and is perfect for a three week long challenge!
      %h4 Invite your participants
    .col-lg-6
      %h4 Chapters delivered to you
      %p Each day the chapters you need to read for that day are emailed to you. All you have to do is check your email.
      %h4 Track your progress
      %p After you have read your chapter for the day, click the link of the bottom of the email to record your reading. It's that simple! If you like, you can track your progress online in your account.
      %h4 Get connected
      %p Give and receive support from other participants in your challenge. Habit building is hard, but it is easier with companions.
  .footer
    %p &copy; BFA 2013
