%ul#grouptabs.nav.nav-tabs.nav-justified{role: "tablist"}
  %li.active{role: "presentation"}
    %a{role: "tab", aria: {controls: "readings"}, data: {toggle: "tab", target: "#todaysreadings"}} Today's Readings
  %li{role: "presentation"}
    %a{role: "tab", aria: {controls: "readings"}, data: {toggle: "tab", target: "#readings"}} All Readings
  - if current_user.find_challenge_group(@challenge) != nil
    %li{role: "presentation"}
      %a{role: "tab", aria: {controls: "mygroup"}, data: {toggle: "tab", target: "#mygroup"}} My Group
  - else
    %li{role: "presentation"}
      %a{role: "tab", aria: {controls: "groups"}, data: {toggle: "tab", target: "#groups"}} Groups
  %li{role: "presentation"}
    %a{role: "tab", aria: {controls: "statistics"}, data: {toggle: "tab", target: "#statistics"}} Statistics

:javascript
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var ev = document.createEvent('Event');
    ev.initEvent('resize', true, true);
    window.dispatchEvent(ev);
  });
