%ul#grouptabs.nav.nav-tabs.nav-justified{role: "tablist"}
  %li.active{role: "presentation"}
    %a{href: "#todaysreadings", role: "tab", aria: {controls: "readings"}, data: {toggle: "tab"}} Today
  %li{role: "presentation"}
    %a{href: "#readings", role: "tab", aria: {controls: "readings"}, data: {toggle: "tab"}} Readings
  - if current_user.find_challenge_group(@challenge) != nil
    %li{role: "presentation"}
      %a{href: "#mygroup", role: "tab", aria: {controls: "mygroup"}, data: {toggle: "tab"}} Group
  - else
    %li{role: "presentation"}
      %a{href: "#groups", role: "tab", aria: {controls: "groups"}, data: {toggle: "tab"}} Groups
  %li{role: "presentation"}
    %a{href: "#statistics", role: "tab", aria: {controls: "statistics"}, data: {toggle: "tab"}} Stats
  %li{role: "presentation"}
    %a{href: "#discussion", role: "tab", aria: {controls: "discussion"}, data: {toggle: "tab"}} Chat

:javascript
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var ev = document.createEvent('Event');
    ev.initEvent('resize', true, true);
    window.dispatchEvent(ev);
  });
