%h4 Challenge Name:
%h2= @challenge.name
%h3
- if current_user  && @membership = @challenge.membership_for(current_user)
  %hr
    %h4
      .col-md-6.col-md-offset-3
        = render 'challenge_instructions'
- elsif current_user
  %div{:class => 'btn-group'}
    = link_to "Join Challenge", challenge_memberships_path(challenge_id: @challenge.id), method: :post, :class => 'btn btn-success'
- unless current_user
  = link_to "Sign me up", new_user_registration_path, :class => 'btn btn-primary'
  %p
