.section.primary.centered
  .container
    .title My Challenges
    .subtitle Challenges you join will be shown on this page.
    %br
    %a.btn{href: new_creator_challenge_path} Create A New Challenge



.section.container
  .col-md-12
    -if @user.membership_readings.any?
      .panel.panel-primary
        .panel-heading
          %strong
            My Personal Statistics
        = render partial: 'shared/statistics/personal_stat', locals: {user: current_user}

    .panel.panel-body
      .panel-heading
        %h5
          Challenges that I am currently in
      - @challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}

    -if @user.is_a_challenge_owner?
      .panel.panel-body
        .panel-heading
          %h5
            Challenges that I own
        - @owner_challenges.each do |challenge|
          .col-md-6
            = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}

