.section.primary.centered
  .container
    .title
      = t 'member.challenges.index.mychallenges'
    .subtitle
      = t 'member.challenges.index.subtitle'
    %br
    %a.btn{href: new_creator_challenge_path} 
      = I18n.t('member.challenges.index.create_new')

.section.container

  - @challenges.each do |challenge|
    .col-md-12
      = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
