.section.primary.centered
  .container
    .title My Challenges
    .subtitle Challenges you join will be shown on this page.
    %br
    %a.btn{href: new_creator_challenge_path} Create A New Challenge



.section.container

  - @challenges.each do |challenge|

    .col-md-12
      = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
