%br
%br
.container
  %h3 
    ="Email all members in challenge: #{@challenge.name}"
  = form_tag creator_challenge_mass_emails_path(challenge_id: @challenge.id), method: :post do
    .input-group
      = text_area_tag 'message', nil, class: "form-control", id: "mass-email", placeholder: "Your message here", require: true
      %span.input-group-btn
        = submit_tag "Send message", class: "btn btn-primary", data: {confirm: "Are you sure? Emails will go out to all members of this challenge."}
