.container
  - if membership = challenge.membership_for(current_user)
    - if membership.completed?
      %h4 
        %p
          Congratulations! You have completed this Bible Challenge!
    -if challenge.groups.any?
      .panel.panel-primary
        .panel-heading Group Statistics
        = render partial: 'shared/statistics/group_stat', locals: {groups: groups}
    .panel.panel-primary
      .panel-heading Challenge Statistics
      = render partial: 'shared/statistics/challenge_stat', locals: {challenge: challenge, membership: membership}

    -if user.membership_readings.any?
      .panel.panel-primary
        .panel-heading Personal Statistics
        = render partial: 'shared/statistics/personal_stat', locals: {user: current_user}
    -else
      You have not logged a chapter yet
