- if current_user && membership = challenge.membership_for(current_user)
  = link_to I18n.t("shared.challenges._challenge_unsubscribe.unsubscribe"),member_membership_path(membership),method: :delete, "data-confirm" => I18n.t('shared.challenges._challenge_unsubscribe.confirm'),:class=>"btn btn-info pull-right"
