- if @challenge.has_ungrouped_member?(current_user)
  = link_to I18n.t("shared.challenges._create_a_group.create"), new_member_challenge_group_path(challenge_id: @challenge.id), :class => 'btn btn-primary btn-sm'
