- if current_user.id == @challenge.owner.id
  = link_to "Add a group", new_creator_challenge_group_path(challenge_id: @challenge.id), :class => 'btn btn-success btn-sm'
-else
  = link_to "Create a group", new_member_challenge_group_path(challenge_id: @challenge.id), :class => 'btn btn-success btn-sm'

