-if todays_reading
  - unless todays_reading.read_by?(current_user)
    = link_to "Log my reading",
      membership_readings_path(reading_id: todays_reading.id, membership_id: membership.id, anchor: "readings"),
      class: "btn btn-sm btn-primary", method: :post

