%tr
  %td= reading.read_on.strftime("%-m/%-d")
  %td= link_to reading.chapter.book_and_chapter + "  (#{reading.comments.count})" , reading
  %td
    - if membership
      = react_component 'ReadingButton', 
        { reading_id: reading.id, membership_id: membership.id, 
        membership_reading_id: reading.membership_reading_for(membership).try(:id) }
