%tr
  %td= reading.read_on.strftime("%-m/%-d")
  %td= reading.chapter.book_and_chapter
  %td{id: dom_id(reading)}
    - if membership
      = react_component 'ReadingButton', 
        { reading_id: reading.id, membership_id: membership.id, 
        membership_reading_id: membership_reading_id }
