%h4 Readings
%table.table.table-striped.table-bordered.table-hover.table-centered-text
  %tbody
    %thead
      %tr
        %th Date
        %th Chapter(comments)
        %th 
          %span.glyphicon.glyphicon-ok
    - @readings.each do |reading|
      = render partial: 'shared/challenges/readings_table_row',
        locals: {reading: reading, membership: @membership}
