%br
-if @todays_readings.present?
  %h4.chapter
    Today's Reading (#{current_user.date_by_timezone.strftime("%m/%d/%Y")})
    %br

    = render partial: 'shared/challenges/membership_readings',
      locals: { todays_readings: @todays_readings }

-else
  %h3 No readings today
  %br
  %br
