%h3
  ="Today's Readings (#{DateTime.now.strftime("%m/%d/%Y")})"
-if @todays_reading
  - unless @todays_reading.read_by?(current_user)
    = link_to "Log my reading",
      membership_readings_path(reading_id: @todays_reading.id, membership_id: @membership.id, anchor: "readings"),
      class: "btn btn-sm btn-primary", method: :post
  %br

  #first_verses
    - @first_verses_in_todays_reading.each do |verse|
      = verse.decorate.to_div
  #remaining_verses
    - @remaining_verses_in_todays_reading.each do |verse|
      = verse.decorate.to_div
  %a#toggle_todays_reading{href: '#'}More
-else
  No reading today :(

:javascript

  function toggle_todays_reading_link_text() {
    current_text = $("#toggle_todays_reading").text()
    $("#toggle_todays_reading").text(
      current_text == "More" ? "Less" : "More")
  }

  $( "#toggle_todays_reading" ).on("click", function(){
    $( "#remaining_verses" ).slideToggle()
    toggle_todays_reading_link_text()
  })
