%br
-if todays_reading
  %h4.chapter
    = todays_reading.book_and_chapter

  %br

  #verses
    - todays_verses.each do |verse|
      = verse.decorate.to_div
-else
  %br
  %br
  %h3 No reading today
  %br
  %br
