- unless current_user && @membership = @challenge.membership_for(current_user)
  %p
%h4 Challenge Name:
%h3= @challenge.name
%h3
- if current_user
  %div{:class => 'btn-group'}
    = link_to "Join Challenge", challenge_memberships_path(challenge_id: @challenge.id), method: :post, :class => 'btn btn-success'
