- unless current_user && @membership = @challenge.membership_for(current_user)
  Join the challenge!
  %p
Challenge Name:
= @challenge.name
%h3
  - if current_user && current_user.memberships.include?(@membership)
    = link_to "Leave This Challenge", challenge_membership_path(@challenge, @membership), method: :delete, confirm: 'Are you sure?', :class=> 'btn btn-danger btn-sm'
  - elsif current_user
    = link_to "Join Challenge", challenge_memberships_path(challenge_id: @challenge.id), method: :post
