%table.table.table-striped.table-bordered.table-hover.table-centered-text
  %tbody
    %thead
      %tr
        %th
          = t 'date'
        %th
          = t 'chap'
      - readings.order(read_on: :asc).each do |reading|
        %tr
          %td= reading.read_on.strftime("%-m/%-d")
          %td= reading.chapter.book_and_chapter 
