.masthead.centered
  .container
    .row
      .col-md-8.col-md-offset-2
        / TODO
        / This should be <h1> instead of a div with a class which is semantically incorrect
        .title Bible Challenges
        .subtitle Create a Bible Reading Challenge for a church, small group, or student organization. Or join one below.
        -if current_user
          %a.btn{href: new_creator_challenge_path} Create a challenge
        -else
          %a.btn{href: new_user_registration_path} Sign me up!

.container
  - unless @public_challenges.empty?

    %h3.component-title Current Challenges
    .row
      - @public_challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
