.masthead.centered
  .container
    .row
      .col-md-8.col-md-offset-2
        / TODO
        / This should be <h1> instead of a div with a class which is semantically incorrect
        .title Bible Challenges
        .subtitle Create a Bible Reading Challenge for a church, small group, or student organization. Or join one below.
        -if current_user
          %a.btn{href: new_creator_challenge_path} Create a challenge
        -else
          %a.btn{href: new_user_registration_path} Sign me up!

.container
  -if params[:query].present?
    %h3.component-title Search Results
    .row
      - @public_challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
  - else
    - unless @my_challenges.blank?
      .centered
        %h3.component-title My Current Challenges
        .challenges
          - @my_challenges.each_slice(2) do |challenge_group|
            .row
              .row-lg-height.row-md-height
                - challenge_group.each do |challenge|
                  .col-md-6.col-lg-height.col-md-height
                    .inside.inside-full-height
                      = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}

    - unless @public_challenges.empty?
      .centered
        %h3.component-title Popular Challenges
        .challenges
          - @public_challenges.each_slice(2) do |challenge_group|
            .row
              .row-lg-height.row-md-height
                - challenge_group.each do |challenge|
                  .col-md-6.col-lg-height.col-md-height
                    .inside.inside-full-height
                      = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
