.masthead.centered
  .container
    .title Bible Challenges
    .subtitle Create a Bible Reading Challenge for a church, small group, <br />or student organization. Or just for yourself.

    %a.btn{href: new_creator_challenge_path} Create a challenge

.container
  - unless @public_challenges.empty?

    %h3.component-title Current Challenges
    .row
      - @public_challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
