.container
  %h3 Leaderboards
  .row
    .col-md-3
      = render partial: 'challenges/leaderboard_last_chapters'
    .col-md-3
      = render partial: 'challenges/leaderboard_all_time_streak'
    .col-md-3
      = render partial: 'challenges/leaderboard_current_streak'
    .col-md-3
      = render partial: 'challenges/leaderboard_chapters_all_time'
