.comment-form.hide
  = form_for [commentable, comment = Comment.new] do |f|
    - if comment.errors.any?
      - flash[:error] = comment.errors.full_messages.to_sentence
    .control-group
      .controls
        = hidden_field_tag :location, location
        = f.text_area :content, rows: 5, required: true, class: "form-control"

    .control-group
      = f.submit I18n.t('comments.comments._form.post_comment'), class: 'btn btn-primary pull-right', disable_with: I18n.t('wait')
