.comment-form {
	&__container--comment {
		display: flex;
		padding-bottom: 15px;
		border-bottom: solid 1px #E2E2E2;
	}

	&__container--response {
		display: flex;
		padding-left: 37px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: solid 1px #E2E2E2;
	}

	&__avatar--comment {
		width: 38px;
		height: 38px;
		margin-right: 5px;
		border: solid 1px #bbb;
	}

	&__avatar--response {
		width: 28px;
		height: 28px;
		margin-right: 5px;
		border: solid 1px #bbb;
	}

	&__comment-text {
		flex: 1;
		border: solid 1px #bbb;
		resize: none;
	}

	&__post-button--comment {
		margin-left: 5px;
		height: 38px;
	}

	&__post-button--response {
		margin-left: 5px;
		height: 28px;
	}
}