/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require base
 *= require pickadate/default
 *= require pickadate/default.date
 *= require bootstrap
 */

.profile-link a {
  border: none;
  height: 20px;
  margin-top:-10px;
  margin-bottom:0px;
  //overflow: hidden;
}

.profile-img {
  height: 90%;
  width: 90%;
}

.reading.read {
  #read { display: none; }
  #unread { display: inline-block; }
}

.reading.unread {
  #read { display: inline-block; }
  #unread { display: none; }
}

