// First import journal variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";
@import "bootstrap/mixins";

// Responsive styles go here in case you want them
// @import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

@import "font-awesome";


.table-centered-text{
	text-align: center !important;
	th{
		text-align: center;
	}
}

.td-with-action-button{
	background-color: transparent !important;
	width: 1px;
}

