@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

$primary: rgba(0, 120, 180, 1);
$primary-fade: rgba(0, 120, 180, 0.4);

*:focus{
  outline: none;
}

html, body{
  min-height: 100%;
}

body{
  background-color: #f1f1f1;
  display:flex;
  flex-direction: column;
}

a{
  color: $primary;

  &:hover{
    color: #999;
    text-decoration: none;
  }
}

.btn{
  text-transform: none;
}

.btn-primary{
  background-color: $primary;
  border-color: $primary;

  &:hover{
    background: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.btn-info{
  background-color: #ddd;
  border-color: #ddd;
  &:hover{
    background-color: darken(#ddd, 10%);
    border-color: darken(#ddd, 10%);
  }
}

.form-cluster{
  input:first-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  input:last-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}



///////// Navbar
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px 0px rgba(0,0,0,.2);
}

.navbar-default{
  background-color: white;
  color: #ccc;

  .navbar-brand{
    color: $primary;
  }
  .navbar-brand:hover{
    color: #999;
  }
  .navbar-toggle .icon-bar, {
    background-color: #ccc;
  }
}

.navbar-fb-icon {
  border-left: 1px solid rgba(#93a4aa, .15);
  span {
    position: relative;
    display: inline-block;
    width: 24px;
    margin-left: 4px;
  }
  .fa {
    position: absolute;
    top: -19px;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #93a4aa;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5e6969;
}

.navbar-default .navbar-toggle {
  border: none;
  
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-default .navbar-collapse .input-group {
    width: 195px;
  } 
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse .input-group {
    width: 100%;
  } 
}

.masthead {
  background: $primary;
  padding: 50px 0;
  position: relative;
  z-index: 2;
  margin-top: -22px;


  .title {
    font-family: "SourceSansProExtraLight", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    color: white;
  }
  .subtitle {
    color: white;
    font-family: "SourceSansProBold", Helvetica, Arial, sans-serif;
    display: block;
    font-size: 12px;
    padding-left: 4px;
    margin-bottom: 24px;
  }
}

.centered{
  text-align: center;
}

.section.primary, .masthead{
  .btn {
    background: none;
    border: 1px solid white;
    color: white;
  }
}


.section{
  padding: 40px 0;

  .title{
    font-size: 40px;
  }
}

.section.primary{
  background-color: $primary;
  color: white;
}



.content{
  background-color: white;
  padding-top: 24px;
  flex: 1;
}



.nav.nav-tabs{
  margin-bottom: 40px;
}

.panel-primary{
  border-color: #f1f1f1;
  margin-bottom: 40px;

  .panel-heading{
    background-color: $primary;

    color: white;
    font-size: 1.2em;
  }
}

.table{
  th{
    font-size: 0.8em;
  }
}

.breadcrumb{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #f1f1f1;
  color: #666;

  a{
    color: $primary;

  }
}

.component-title {
  color: #b2c6cd;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

.list-group-item, a.list-group-item{
  margin-bottom: 12px !important;
  padding: 24px;

  &:last-child, &:first-child{
    margin-bottom: inherit;
  }

  &:hover{
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2)
  }
}

.badge .primary{
  background-color: $primary;
}

.comment{
  border-bottom: 1px solid #ddd;
  line-height: 16px;
  padding: 8px 0;

  .avatar{
    float: left;
    margin-right: 12px;
  }

  .comment_block{
    margin-left: 54px;

    .title{
      font-size: 14px;
      color: $primary;
    }

    .comment_content{
      margin-bottom: 6px;
    }

    .details{
      font-size: 12px;
      color: #999;
      margin-bottom: 8px;
    }

    .comment_replies{
      border-top: 1px solid #ddd;

      .comment:last-of-type{
        border-bottom: none;
      }
    }
  }

}



@media (min-width: 1000px) {
  .masthead {
    padding: 100px 0;
  }
  .masthead .title {
    font-size: 65px;
  }
  .masthead .subtitle {
    font-size: 25px;
  }
}

@media (max-width: 640px){
  .section{
    padding: 20px;

    .title{
      font-size: 24px;
    }
  }

  .nav-justified li a{
    padding: 5px;
  }
}

#verses{
  column-count: 2;
  margin-bottom: 40px;

  .verse{
    margin-bottom: 16px;
  }

  .verse_number{
    font-style: italic;
    font-size: .8em;
  }
}

@media (max-width: 768px) {
  #verses{
    column-count: 1;
  }

  .nav-justified > li {
    display: table-cell;
    width: 1%
  }
}

.alert{
  border-radius: 0;
}

.alert-info, .alert-warning{
  background-color: $primary-fade;
  color: white;

  .close{
    color: white;
  }
}


.form-horizontal{
  .control-label{
    text-align: right;
  }

  .form-control[readonly]{
    background-color: white;
  }
}

.control-group{
  margin-bottom: 12px;
}

.search-input{
  display: inline-block;
}
