.left-bold {
      float: left;
      padding-left: 20px;
      padding-top: 5px;
      font-weight: bold;
}

.right {
      float: right;
      padding-right: 5px;}

.bs-example {
      margin: 150px 50px;
}

.popover-examples{
      margin-bottom: 20px;
}

.search_challenge{
      padding-top: 10px;
}
#remaining_verses { display: none; }
