%p
  = t 'devise.mailer.confirmation_instructions.welcome'
  #{@email}!
%p
  = 'devise.mailer.confirmation_instructions.link'
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
