%span
%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= challenge.name
      %th By Me
      %th By All Members
    %tbody
    - ChallengeStatistic.descendants.each do |stat|
      - case stat.name
      - when 'ChallengeStatisticChaptersRead'
        %tr
          %td= stat.name
          %td= membership.membership_statistics.find_by_type("MembershipStatisticTotalChaptersRead").value
          %td= challenge.challenge_statistics.find_by_type("ChallengeStatisticChaptersRead")
      - when 'ChallengeStatisticChaptersRead'
        %tr
