%span
%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th 
        %h6
          %strong
            Group Name
      %th 
        %h6
          %strong
            Progress Percentage
      %th 
        %h6
          %strong
            On-schedule Percentage
      %th 
        %h6
          %strong
            Total Chapters Read
  - groups.each do |g|
    %tbody
      %tr
        %td= g.name
        %td= g.group_statistic_progress_percentage
        %td= g.group_statistic_on_schedule_percentage
        %td= g.group_statistic_total_chapters_read
